# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# other
.DS_Store
Thumbs.db
*~

.sonar/
behat.phar
sonar-project.properties
symfony2_extension.phar
web/css/
web/js/


!*.gitkeep
