<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
  <title>Anneaux de la Mémoire | {% block title %}{% endblock %}</title>
  <meta name="title" content="Anneaux de la Mémoire">
  <meta name="description" content="Association des Anneaux de la Mémoire">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% block stylesheets %}
  {% stylesheets '@PortailBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

  <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'>
{% endblock %}

  <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
</head>
<body>

  {% block header %}
  {% endblock %}

  {% block body %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>

  {% javascripts '@PortailBundle/Resources/public/js/*' %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

</body>
</html>
