{# src/Anneaux/PortailBundle/Resources/views/Site/index.html.twig #}
{% extends 'PortailBundle::layout.html.twig' %}

{% block title %}
  Bienvenue sur le site des Anneaux de la Mémoire
{% endblock %}

{% block body %}
  <div class="row main-wrap" role="main">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-4 article-extract-lead-title univ-blue">
              <h2>Actualités à la Une</h2>
            </div>
            <div class="col-md-8">
              <div class="article-extract-lead">
                <h3>Le programme des Anneaux de la Mémoire retenu par l'UE</h3>
                <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                <a href="#">Lire la suite &raquo;</a>
              </div>
              <div class="article-extract-lead">
                <h3>Les Anneaux de la Mémoire au festival Tribus d'Ailleurs</h3>
                <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                <a href="#">Lire la suite &raquo;</a>
              </div>
              <div class="article-extract-lead">
                <h3>Barack Obama à Gorée : un symbole !</h3>
                <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                <a href="#">Lire la suite &raquo;</a>
              </div>
            </div>
            <div class="col-md-6 univ-green">
              <h2>Ressources à la Une</h2>
            </div>
            <div class="col-md-6">
              <h3>In auctor sit amet lectus lobortis auctor</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-6 univ-yellow">
              <h2>Derniers articles du blog</h2>
            </div>
            <div class="col-md-6">
              <h3>Le Musee Ogier-Fombrun : En route vers les nouvelles technologies !</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>L’équipe du Musée Ogier-Fombrun ouvre une nouvelle fenêtre sur le monde par la création de son site internet. Cette semaine...</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
            <div class="col-md-6">
              <h3>William Blake, le mariage du ciel et de l'enfer</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Blake, Haïti, et la traîne de la révolution française Une émission proposée par le collectif Rummenigger William Blake est généralement...</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
            <div class="col-md-6">
              <h3>No church in the wild - Jay Z et Kanye West</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Le clip des rappeurs américains Jay-Z et Kanye West, "No church in the Wild", au coeur d'une polémique sur l'esclavage...</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
