{# src/Anneaux/PortailBundle/Resources/views/Site/index.html.twig #}
{% extends 'PortailBundle::layout.html.twig' %}

{% block title %}
  Bienvenue sur le site des Anneaux de la Mémoire
{% endblock %}

{% block body %}
<div role="main">

  <section id="actu" class="large-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="actu-lead-title univ-blue">
              <h2>Actualités de l'Association et du Réseau</h2>
            </div>
            <div class="actu-paginate">
              <a href="#"> &laquo; Précédents</a>
              <a href="#">Suivants &raquo;</a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6">
                <div class="actu-lead">
                  <h3>Le programme des Anneaux de la Mémoire retenu par l'UE</h3>
                  <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                  <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                  <a href="#">Lire la suite &raquo;</a>
                </div>
                <div class="actu-lead">
                  <h3>Les Anneaux de la Mémoire au festival Tribus d'Ailleurs</h3>
                  <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                  <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                  <a href="#">Lire la suite &raquo;</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="actu-lead">
                  <h3>Les Anneaux de la Mémoire au festival Tribus d'Ailleurs</h3>
                  <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                  <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                  <a href="#">Lire la suite &raquo;</a>
                </div>
                <div class="actu-lead">
                  <h3>Barack Obama à Gorée : un symbole !</h3>
                  <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
                  <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
                  <a href="#">Lire la suite &raquo;</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section id="soutien" class="small-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="soutien-lead-title univ-orange">
          <h2>Soutenir les Anneaux de la Mémoire et le Réseau International</h2>
          <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <div class="soutien-lead">
              <h3>Adhérer à l'association</h3>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="soutien-lead">
              <h3>Devenir bénévole</h3>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="soutien-lead">
              <h3>Faire un don</h3>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="soutien-lead">
              <h3>Envoyer une info</h3>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="soutien-lead">
              <h3>Mécénat entreprise</h3>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section id="ressources" class="large-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="ressource-lead-title univ-green">
              <h2>Ressources à la Une</h2>
            </div>
            <div class="ressource-paginate">
              <a href="#"> &laquo; Précédents</a>
              <a href="#">Suivants &raquo;</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ressource-lead">
              <h3>In auctor sit amet lectus lobortis auctor</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ressource-lead">
              <h3>In auctor sit amet lectus lobortis auctor</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section id="blog" class="large-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="blog-last-title univ-yellow">
              <h2>Derniers articles du blog</h2>
            </div>
            <div class="blog-paginate">
              <a href="#"> &laquo; Précédents</a>
              <a href="#">Suivants &raquo;</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-last">
              <h3>Le Musee Ogier-Fombrun : En route vers les nouvelles technologies !</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-last">
              <h3>William Blake, le mariage du ciel et de l'enfer</h3>
              <span>Publié le <time datetime="2013-09-30">30 Octobre 2013</time></span>
              <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu. Donec mollis neque varius leo rhoncus, eget blandit tellus iaculis.</p>
              <a href="#">Lire la suite &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section id="contact" class="small-wrap">
    <div class="row">
      <div class="col-md-12">
        <div class="contact-lead-title univ-orange">
          <h2>Prendre contact avec nous</h2>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-6">
                <div class="contact-lead">
                  <h3>Formulaire de contact</h3>
                  <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      <label for="name" class="col-lg-3 control-label">Nom</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" placeholder="Votre nom">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email" class="col-lg-3 control-label">Email</label>
                      <div class="col-lg-9">
                      <input type="email" class="form-control" placeholder="Votre email">
                      </div>                      
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-lg-3 control-label">Objet du message</label>
                      <div class="col-lg-9">
                      <input type="text" class="form-control" placeholder="Votre objet" />
                      </div>                      
                    </div>
                    <div class="form-group">
                      <label for="message" class="col-lg-3 control-label">Message</label>
                      <div class="col-lg-9">
                      <textarea class="form-control" rows="3" placeholder="Votre message ..."></textarea>
                      </div>                      
                    </div>
                    <div class="form-group">
                      <div class="col-lg-offset-3 col-lg-9">
                        <button type="submit" class="btn btn-default">Envoyer le message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>            
              <div class="col-md-6">
                <div class="contact-lead">
                  <h3>Nous rencontrer à Nantes (France)</h3>
                  <p>Nam ut elementum tellus, a porta purus. Ut ultrices ligula vel tortor ultrices, ut imperdiet ipsum placerat. Mauris euismod vehicula enim, vitae dictum nulla mattis eu.</p>
                  <ul>
                    <li>Association Les Anneaux de la Mémoire</li>
                    <li>Espace Cosmopolis</li>
                    <li>18 Rue Scribe</li>
                    <li>44000 Nantes</li>
                  </ul>
                  <ul>
                    <li>Tel.  : (+33) (0)2 40 69 68 52</li>
                    <li>Email : contact@anneauxdelamemoire.org</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-12">
                <div id="map-contact-nantes" class="univ-orange"></div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </section>

</div>
{% endblock %}
