{# src/Anneaux/PortailBundle/Resources/views/CDR/images.html.twig #}
{% extends 'PortailBundle::layout.html.twig' %}

{% block title %}
  Centre de Ressources des Anneaux de la Mémoire
{% endblock %}

{% block body %}

  <div class="row main-wrap">

    {% block breadcrumb %}
      <nav id="breadcrumb-nav" class="col-md-12" role="navigation">
        <ul>
          <li class=""><a href="/app_dev.php">Accueil</a></li>
          <li class=""> &raquo; <a href="/app_dev.php/ressources">Nos ressources</a></li>
          <li class=""> &raquo; <a href="/app_dev.php/ressources/images">Banque d'images et cartes</a></li>
        </ul>
      </nav>
    {% endblock %}

    <div class="col-md-12">
      <h1>Iconographie List</h1>
      <p>Un texte introductif présentant le fonctionnement</p>
    </div>

    <div class="col-md-6">
      <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
        <figure>
          <img src="http://placehold.it/430x464" />
          <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
        </figure>
      </a>
      <div class="row">
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
      </div>
      <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
        <figure>
          <img src="http://placehold.it/430x464" />
          <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
        </figure>
      </a>
    </div>
    <!-- /.col-md-6 -->
    <div class="col-md-6">
      <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
        <figure>
          <img src="http://placehold.it/430x464" />
          <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
        </figure>
      </a>
      <div class="row">
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-md-6">
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
          <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
            <figure>
              <img src="http://placehold.it/200x200" />
              <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
            </figure>
          </a>
        </div>
      </div>
      <a href="/app_dev.php/ressources/images/1" title="Découvrir en détail ...">
        <figure>
          <img src="http://placehold.it/430x464" />
          <figcaption>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</figcaption>
        </figure>
      </a>
    </div>
    <!-- /.col-md-6 -->

  </div>

{% endblock %}
