{# src/Anneaux/PortailBundle/Resources/views/CDR/index.html.twig #}
{% extends 'PortailBundle::layout.html.twig' %}

{% block title %}
  Centre de Ressources des Anneaux de la Mémoire
{% endblock %}

{% block body %}
  <div class="section-wrap page-wrap">
    Aux Anneaux :
    médiathèque

    Centre de ressources :
    Outils pédagogiques
    Publications scientifiques
    Conférences & Rencontres
    Musées & expositions
    Arts & Littérature
    Sites et lieux de mémoire
    Images & Iconographie
    Archives & médiathèques
    Cartographie
    Iconographie
  </div>
{% endblock %}
